<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62408472010-la25sfitmlnah24svfr62hc8itrf0v2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62408472010-la25sfitmlnah24svfr62hc8itrf0v2p</string>
	<key>API_KEY</key>
	<string>AIzaSyAVYRvhyRtbl4oDMuIuFZzkQLpV8qX-osg</string>
	<key>GCM_SENDER_ID</key>
	<string>62408472010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tem.appqa</string>
	<key>PROJECT_ID</key>
	<string>tem-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>tem-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62408472010:ios:2367cd96daeedcbadc4b33</string>
</dict>
</plist>