<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TemApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
				<key>dateExpires</key>
				<string>29/11/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AMPopTip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BezierPathLength.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Imaginary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>19.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lightbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Mute.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SSNeumorphicView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WMSegmentControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30906.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7k</string>
						<string>arm64_32</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
						<key>dateExpires</key>
						<string>29/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>buildNumber</key>
							<string>1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
								<key>dateExpires</key>
								<string>29/11/22</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>embeddedBinaries</key>
							<array>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
									</array>
									<key>buildNumber</key>
									<string>1</string>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>B9EA757B2E78C36E5D06EB071758A368B0CE0644</string>
										<key>dateExpires</key>
										<string>29/11/22</string>
										<key>type</key>
										<string>Apple Development</string>
									</dict>
									<key>name</key>
									<string>Alamofire.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>6PQH338U2R</string>
										<key>name</key>
										<string>Capovela LLC</string>
									</dict>
									<key>versionNumber</key>
									<string>4.9.1</string>
								</dict>
							</array>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>6PQH338U2R.com.tem.app.watchkitapp.watchkitextension</string>
								<key>com.apple.developer.healthkit</key>
								<true/>
								<key>com.apple.developer.healthkit.access</key>
								<array/>
								<key>com.apple.developer.team-identifier</key>
								<string>6PQH338U2R</string>
								<key>get-task-allow</key>
								<true/>
							</dict>
							<key>name</key>
							<string>TemWatchApp Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>bae3d8ea-1301-4743-9d62-550dc4370671</string>
								<key>dateExpires</key>
								<string>24/01/23</string>
								<key>name</key>
								<string>iOS Team Provisioning Profile: com.tem.app.watchkitapp.watchkitextension</string>
							</dict>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>6PQH338U2R</string>
								<key>name</key>
								<string>Capovela LLC</string>
							</dict>
							<key>versionNumber</key>
							<string>1.7.6</string>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>6PQH338U2R.com.tem.app.watchkitapp</string>
						<key>com.apple.developer.team-identifier</key>
						<string>6PQH338U2R</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>6PQH338U2R.com.tem.app.watchkitapp</string>
						</array>
					</dict>
					<key>name</key>
					<string>TemWatchApp.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>cafcba22-8096-4b67-8fbc-efafcda4d8ad</string>
						<key>dateExpires</key>
						<string>24/01/23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.tem.app.watchkitapp</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PQH338U2R</string>
						<key>name</key>
						<string>Capovela LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6PQH338U2R.com.tem.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:apptem.page.link</string>
				</array>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>6PQH338U2R</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>TemApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5beee10d-5b7d-48a5-ba17-ea93b56da90f</string>
				<key>dateExpires</key>
				<string>24/01/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.tem.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6PQH338U2R</string>
				<key>name</key>
				<string>Capovela LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.7.6</string>
		</dict>
	</array>
</dict>
</plist>
